:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2rem;
}

.tiles {
  display: flex;
  flex-wrap: wrap;

  .tile {
    display: flex;
    flex: 1 1;
    min-width: 24px;
    min-height: 24px;
    box-sizing: border-box;

    &--pad {
      &-left {
        padding-left: 2px;
      }
      &-top {
        padding-top: 2px;
      }
      &-right {
        padding-right: 2px;
      }
      &-bottom {
        padding-bottom: 2px;
      }
    }
  }

  .tile-inner {
    flex: 1;
    text-align: center;
  }
}
